* {
    box-sizing: border-box;

}
body {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    height: 100vh;
}

body .alert-info a {
    color: black;

}
body nav li {
    list-style: none;
}
.alert-info {
    /*grid-area: a;*/
    background-color: lightblue;
    padding: 20px;
    text-decoration: none;
    border: #CCCCCC solid 2px;
    width: 500px;
    height: 50px;
    text-align: center;
}

.alert-info a {
    margin: 0 auto;
    text-decoration: none;

}

h1 {

}

.hidden-on-desktop {

}

.header-img {
    height: 200px;
    width: 500px;
    text-align: center;
    /*display: flex;*/

}

.nav-links {
    grid-area: c;
    padding: 0;

}
.nav-links li {
    background: #CCCCCC;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;

}
.main {

    height: 50px;
    width: 500px;
    text-align: center;
    margin-bottom: 100px;

}

.main h2, .sub-section h2{
    text-align: left;

}


.sub-section {

    width: 500px;
    text-align: center;


}
#social-media-links {
    /*grid-area: f;*/
}

footer {
    /*display: block;*/
    /*width: 500px;*/
    /*margin-right: auto;*/

    width: 500px;
    text-align: center;



}
p {
    text-align: left;

@media screen and (min-width:768px) {
    body {
        width: 768px;
    }

    }
}

@media screen and (min-width:992px) {
    body .main {
        width: 30%;
        float: left;
    }
    body .sub-section {

        float: right;
    }
}

@media screen and (max-width:500px) {
    body {
        /*background: black;*/
    }
}
