* {
    box-sizing: border-box;
    /*width: 100%;*/
}
body {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: repeat(6,1fr) ;*/
    /*grid-template-areas:*/
    /*                    "a";*/
    /*                    "b"*/
    /*                    "c"*/
    /*                    "d"*/
    /*                    "e"*/
    width: 100vh;
}

body .alert-info a {
    color: black;
    /*padding: 100px;*/
}
body nav li {
    list-style: none;
}
.alert-info {
    grid-area: a;
    background-color: lightblue;
    /*padding: 20px;*/
    text-decoration: none;
    border: #CCCCCC solid 2px;
    width: 500px;
    height: 50px;
    text-align: center;
}

.alert-info a {
    margin: auto;
    text-decoration: none;

}

h1 {
    grid-area: b;
}

.hidden-on-desktop {

}

.header-img {
    height: 200px;
    width: 500px;
    text-align: center;
    display: flex;

}

.nav-links {
    grid-area: c;
    padding: 0;

}
.nav-links li {
    background: #CCCCCC;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-bottom: 10px;

}
.main {
    grid-area: d;
    height: 50px;
    width: 500px;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sub-section {
    grid-area: e;
    height: 50px;
    width: 500px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

}
#social-media-links {
    grid-area: f;
}

footer {
    /*margin-right: auto;*/
    border: black 10px solid;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
p {
    display: flex;
    align-items: flex-start;
}


@media screen and (max-width:500px) {
    body {
        background: black;
    }
}
